@import "reset.css";

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.95);
  }
  40% {
    transform: scale(1.015);
  }
  60% {
    transform: scale(0.98);
  }
  80% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

:root {
  --_step: 1.6180339887498948482;
  --_temporal-step: 100ms;

  --font-size-sm: clamp(1rem, 2.5vw, 2rem);
  --font-size-md: calc(var(--font-size-sm) * var(--_step));
  --font-size-lg: calc(var(--font-size-md) * var(--_step));
  --font-size-xl: calc(var(--font-size-lg) * var(--_step));

  --font-family: system-ui, sans-serif;

  --font-weight-sm: 400;
  --font-weight-md: 500;
  --font-weight-lg: 600;
  --font-weight-xl: 700;

  --white: #ffffff;
  --dark-forest: #092327;
  --dough: #e7dfc6;
  --ice: #4281a4;
  --light-doughy-ice: color-mix(in sRGB, var(--ice), var(--dough) 50%);
  --background: linear-gradient(135deg, var(--ice), 10%, var(--dark-forest));
}

html,
body {
  display: inline-flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: var(--background);
  color: var(--white);
  font-family: var(--font-family);
  font-weight: var(--font-weight-small);

  transition: var(--transition-speed);
}

.content {
  display: inline-block;
  border-radius: 0.3rem;
  height: fit-content;
  background: var(--dough);
  color: var(--dark-forest);
  overflow-y: scroll;
  padding-block: var(--space-sm) var(--space-sm) var(--space-sm) var(--space-sm);
}

.header {
  text-align: center;
  text-wrap-mode: nowrap;
}

.footer {
  text-align: center;
  text-wrap-mode: nowrap;
}

.text-xl {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-xl);
  text-wrap-mode: nowrap; /* A heading should not wrap, let content flow around the heading */
}

.text-lg {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-lg);
}

.text-md {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-md);
}

.text-sm {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-sm);
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-xl);
}

h2 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-lg);
}

h3 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-md);
}

h4 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-sm);
}

p {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-sm);
}

ul {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-sm);
}

a {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-sm);
  color: var(--white);
  text-decoration: underline;
}
