@import "reset.css";

:root {
  --step: 1.6180339887498948482;

  --font-size-sm: clamp(1rem, -0.875rem + 8.333dvi, 3.5rem);
  --font-size-md: calc(var(--font-size-sm) * var(--step));
  --font-size-lg: calc(var(--font-size-sm) * var(--step) * var(--step));
  --font-size-xl: calc(
    var(--font-size-sm) * var(--step) * var(--step) * var(--step)
  );

  --weight-sm: 500;
  --weight-md: 600;
  --weight-lg: 700;
  --weight-xl: 800;

  --_base-size: clamp(1rem, -0.875rem + 6.333vmin, 2.5rem);
  --size-sm: calc(var(--_base-size) / var(--step));
  --size-md: calc(var(--size-sm) * var(--step));
  --size-lg: calc(var(--size-sm) * var(--step) * var(--step));
  --size-xl: calc(var(--size-sm) * var(--step) * var(--step) * var(--step));

  --font-family: system-ui, sans-serif;

  --white: #ffffff;
  --white-r: 255;
  --white-g: 255;
  --white-b: 255;

  --dark-forest: #092327;
  --dark-forest-r: 9;
  --dark-forest-g: 35;
  --dark-forest-b: 39;

  --dough: #e7dfc6;
  --dough-r: 231;
  --dough-g: 223;
  --dough-b: 198;

  --moms-favourite-color-r: 24;
  --moms-favourite-color-g: 93;
  --moms-favourite-color-b: 104;
  --moms-favourite-color: rgb(
    var(--moms-favourite-color-r),
    var(--moms-favourite-color-g),
    var(--moms-favourite-color-g)
  );

  --background: linear-gradient(
    137.5deg,
    var(--moms-favourite-color),
    calc(var(--size-lg) * 4),
    var(--dark-forest)
  );
  --border-radius: var(--size-sm);
  --line-height-sm: 1.5;
  --line-height-md: 1.2;
  --line-height-lg: 1.15;
  --line-height-xl: 1.1;
}

html,
body {
  align-content: center;
  text-align: center;
  display: block;
  border-radius: calc(var(--size-sm) / var(--step));
  background: var(--background) fixed;
  color: var(--white);
  font-family: var(--font-family);
  font-weight: var(--weight-sm);
  font-size: var(--size-sm);
  line-height: var(--line-height-sm);
  text-shadow: 0 0 calc(1px * 1 / 3) var(--dough);
  width: 100dvw;
  height: 100dvh;
  scrollbar-color: var(--dough) var(--dark-forest);
  overflow-y: auto;
  margin-inline: auto;
}

main {
  text-justify: left;
  margin-inline: var(--size-lg);
  margin-block: var(--size-sm);
  width: fit-content;
  display: block;
  padding-inline-start: var(--size-lg);
  padding-inline-end: var(--size-lg);
  padding-block-start: var(--size-lg);
  padding-block-end: var(--size-lg);
  border: calc(var(--size-sm)) outset
    rgba(var(--dough-r), var(--dough-g), var(--dough-b), 0.239);

  background: rgba(var(--dough-r), var(--dough-g), var(--dough-b), 0.41);
  backdrop-filter: blur(var(--size-xl));
  color: rgba(
    var(--dark-forest-r),
    var(--dark-forest-g),
    var(--dark-forest-b),
    1
  );

  text-shadow: 0 0 calc(var(--size-xl))
    rgba(var(--dough-r), var(--dough-g), var(--dough-b), 0.5);
  border-radius: calc(var(--size-lg) / 4);

  box-shadow: inset calc(var(--size-sm) / 8) calc(var(--size-sm) / 8)
    calc(var(--size-lg) * 8) var(--size-xl)
    rgba(var(--dough-r), var(--dough-g), var(--dough-b), 0.25);
}

p,
span,
a,
svg,
ul,
h1,
h2,
h3 {
  text-align: start;
  font-size: var(--size-sm);
}
h1 {
  font-size: var(--size-xl);
  font-weight: var(--weight-xl);
  line-height: var(--line-height-xl);
}

h2 {
  font-size: var(--size-lg);
  font-weight: var(--weight-lg);
  line-height: var(--line-height-lg);
}

h3 {
  font-size: var(--size-md);
  font-weight: var(--weight-md);
  line-height: var(--line-height-sm);
}

menu {
  stroke: #092327;
}

header {
  display: inline-block;
  padding-inline: var(--size-xl);
}

footer {
  display: inline-block;
  padding-inline: var(--size-lg);
}
