@import "reset.css";

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.95);
  }
  40% {
    transform: scale(1.015);
  }
  60% {
    transform: scale(0.98);
  }
  80% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

:root {
  --white: #ffffff;
  --dark-forest: #092327;
  --dough: #e7dfc6;
  --ice: #4281a4;
  --light-doughy-ice: color-mix(in sRGB, var(--ice), var(--dough) 50%);

  --background: linear-gradient(135deg, var(--ice), 10%, var(--dark-forest));

  --transition-speed: 0.2s;

  --size: clamp(1rem, 2vw, 1.25rem);

  --font-weight-small: 400;
  --font-weight-medium: 500;
  --font-weight-large: 600;
  --font-weight-xl: 700;

  --font-small: calc(var(--size));
  --font-medium: calc(var(--font-small) * 1.25);
  --font-large: calc(var(--font-medium) * 1.25);
  --font-xl: calc(var(--font-large) * 1.25);

  --space-small: calc(var(--font-small) / 2);
  --space-medium: calc(var(--font-medium) / 2);
  --space-large: calc(var(--font-large) / 2);
  --space-xl: calc(var(--font-xl) / 2);
}

html,
body {
  display: inline-flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: var(--background);
  color: var(--white);
  font-family: system-ui, sans-serif;
  font-weight: var(--font-weight-small);

  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) var(--transition-speed);
  border-radius: var(--accent-radius);

  padding-inline: clamp(0px, 2vw, var(--space-xl));
  align-self: center;
}

.content {
  background: var(--dough);
  color: var(--dark-forest);
  overflow-y: scroll;
  padding-inline: var(--space-small) var(--space-xl);
}

.header {
  text-align: center;
  text-wrap-mode: nowrap;
  padding-inline: var(--space-small) var(--space-xl);
}

.footer {
  text-align: center;
  text-wrap-mode: nowrap;
}

h1 {
  font-size: var(--font-xl);
  font-weight: var(--font-weight-xl);
  text-wrap-mode: nowrap; /* A heading should not wrap, let content flow around the heading */
}

h2 {
  font-size: var(--font-large);
  font-weight: var(--font-weight-large);
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--font-weight-medium);
}

p,
span {
  font-size: var(--font-small);
  font-weight: var(--font-weight-small);
}

.button {
  animation: gradientShift 30s ease infinite;

  filter: contrast(1.2);
  color: var(--dark-forest);
  mix-blend-mode: multiply;
  lighting-color: var(--ice);

  border: solid var(--dark-forest) var(--accent-size);
  border-radius: var(--accent-radius);
  cursor: pointer;
  transition:
    box-shadow var(--transition-speed) ease,
    background-color var(--transition-speed) ease;
  box-shadow:
    4px 4px 8px rgba(0, 0, 0, 0.2),
    2px 2px 4px rgba(0, 0, 0, 0.1);
  background-size: 200% 300%;
}

.button:hover {
  background-color: rgba(231, 223, 198, 0.8);
  transition:
    box-shadow var(--transition-speed) ease,
    background-color var(--transition-speed) ease;
  box-shadow:
    inset 4px 4px 8px rgba(0, 0, 0, 0.2),
    4px 4px 8px rgba(0, 0, 0, 0.2);
}

.button:active {
  animation: bounce var(--transition-speed);
  transition:
    box-shadow var(--transition-speed) ease,
    background-color var(--transition-speed) ease;
  box-shadow:
    inset 2px 2px 4px rgba(0, 0, 0, 0.2),
    inset 2px 2px 4px rgba(0, 0, 0, 0.15),
    2px 2px 4px rgba(0, 0, 0, 0.2),
    -2px -2px 4px rgba(0, 0, 0, 0.15);
}
